div{
    border: 0px solid red;
}
*{
font-family:"微软雅黑" , "Microsoft YaHei", sans-serif; 
}
/*/////////////header/////////////*/
.header .navbar-inner{
    padding: 5px;
    background: #fb6659 !important;

}
/* 修改导航logo  by zyy */
.navbar .brand {
	padding-top:0px !important;
}
.header .navbar-inner a.brand,
.header .navbar-inner .dropdown > a {
    color: white !important;
}
.brand{
    width: 225px !important;
    font-size: 16px !important;
}


/*//////////////////////menu////////////////*/
.input-box{
    border: 1px solid #343749;
    background-color: #343749 !important;
}

ul.page-sidebar-menu > li > a {
     border-top: 0px solid #5c5c5c !important;
    color: #565962 !important;
}

sub-menu>li>a{
	color: #565962 !important;
}
#page-sidebar-menu-a{
    border-top: 1px solid #343749 !important;
}
.page-sidebar-menu>li{
	
}
.page-sidebar-menu>li>a>img{
    width: 30px;
}
.page-sidebar-menu>li:first-child:hover,.page-sidebar-menu>li:nth-child(2):hover{
    border-left: 0px solid #F65036;
}
.page-sidebar-menu>li:hover{
    border-left: 3px solid #F65036;
}

.page-sidebar-menu>li>a:hover{
    color:#F65036 !important;
}
.page-sidebar-menu>li>a>img:last-child{
	display:none;
}

.page-sidebar-menu>li>a>img:nth-child(2){
     display: none;
}
.page-sidebar-menu>li:hover .myimga{
    display: none;
}
.page-sidebar-menu>li:hover .myimg1{
    display: inline;
}
.page-sidebar-menu>li:hover .myimgb{
    display: none;
}
.page-sidebar-menu>li:hover .myimg2{
    display: inline;
}
.page-sidebar-menu>li:hover .myimgc{
    display: none;
}
.page-sidebar-menu>li:hover .myimg3{
    display: inline;
}
.page-sidebar-menu>li:hover .myimgd{
    display: none;
}
.page-sidebar-menu>li:hover .myimg4{
    display: inline;
}
.page-sidebar-menu>li:hover .myimge{
    display: none;
}
.page-sidebar-menu>li:hover .myimg5{
    display: inline;
}
.page-sidebar-menu>li:hover .myimgf{
    display: none;
}
.page-sidebar-menu>li:hover .myimg6{
    display: inline;
}
.page-sidebar-menu>li:hover .myimgg{
    display: none;
}
.page-sidebar-menu>li:hover .myimg7{
    display: inline;
}
.page-sidebar-menu>li:hover .myimgh{
    display: none;
}
.page-sidebar-menu>li:hover .myimg8{
    display: inline;
}

.page-sidebar-menu>li:hover .myimgj{
    display: none;
}
.page-sidebar-menu>li:hover .myimg9{
    display: inline;
}
.page-sidebar-menu>li:hover .myimgi{
    display: none;
}
.page-sidebar-menu>li:hover .myimg10{
    display: inline;
}

.page-sidebar-menu>li:hover .myimgk{
    display: none;
}
.page-sidebar-menu>li:hover .myimg11{
    display: inline;
}
.page-sidebar-menu>li:hover .myimgl{
    display: none;
}
.page-sidebar-menu>li:hover .myimg12{
    display: inline;
}
.page-sidebar-menu>li:hover .myimgm{
    display: none;
}
.page-sidebar-menu>li:hover .myimg13{
    display: inline;
}
.page-sidebar-menu>li>ul>li>a:hover{
    color:#F65036 !important;
}

ul.page-sidebar-menu > li.open > a,
ul.page-sidebar-menu > li > a:hover,
ul.page-sidebar-menu > li:hover > a {
    background: rgba(110, 115, 131, 0.13);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#216E7383,endColorstr=#216E7383);
}
.page-sidebar-closed ul.page-sidebar-menu > li.open > a,
.page-sidebar-closed ul.page-sidebar-menu > li > a:hover,
.page-sidebar-closed ul.page-sidebar-menu > li:hover > a {
    background: #3d3d3d;
}
ul.page-sidebar-menu >li>ul> li.open > a,
ul.page-sidebar-menu > li>ul>li > a:hover,
ul.page-sidebar-menu > li>ul>li:hover > a {
    background: #303030;
    color: #F65036 !important;
}
/*////////////////////////////content///////////////*/
.page-content{
    padding: 0px;
    padding-bottom: 12px;
}
.page-content:after {
	display: block;
	content: "";
	clear: both;
}
.wide .page-content {
    margin-left: 0;
}
.inner-scrollable .page-content {
	min-height: auto !important;
}
.page-content>.container-fluid{
    border: 1px solid #DADEDF;
}
.page-header-fixed .page-container{
    margin-top: 50px;
}
.page-content>.container-fluid>h6{
    margin: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #E7E6EB;
    margin-bottom: 18px;
}
.page-content>.container-fluid>span{
    margin-top: 20px;
    display: inline-block;
    width: 110px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #37D1C1;
}
.modal-body>p{
    text-align: center;
    font-size: 15px;
}
/* 淇敼妯℃�佹灏鹃儴绗竴涓寜閽殑澶у皬  by zyy */
.modal-footer>button{
    border-radius: 5px !important;
   /*  width: 70px; */
}