@CHARSET "UTF-8";
/* 设置公共样式 */
.form-row-seperated .control-group{
	margin-right:0px;
}
body{
	color:#7a818b;
	 font-family: "微软雅黑" !important;
	 font-size:14px;
	 overflow-x: hidden;
}
.page-title{
	font-size:14px !important;
	color:#343941;
	margin-top:0px;
	font-family:"微软雅黑";
}
h4{
	font-size:18px !important;
	color:#343941;
}

h3,h4,h5{
	margin-left:20px;!important;
	color:#343941;
}
.modal h3{
	font-size:18px;
	color:#343941;
	font-family: "微软雅黑";
}
th{
	color:#343941;
	height:27px;
}
td{
	color:#7a818b;
	height:27px;
}
.row-fluid .span12 .page-title{
    font-size: 24px;
    border-bottom: 1px solid #dddddd;
}
.btn{
	 font-family:"微软雅黑";
	 padding:0px;
	 width:114px !important;
	 height:30px;
}
#mynemPage #myImport:visited{
	color:#ffffff !important;
}
.btn:focus{
		background-color:#ffffff !important;
	    color:#333333 !important;
	    border:1px solid #D4D3D9 !important;
}
.btn:hover{
	background-color:#fc4f3f !important;
	color:#ffffff !important;
}
#basic_opener4,#mySelOpener4,#mybasic_opener4,#mygroup_opener4,#mypbopener4{
	width:90px !important;
}
.control-group input[type="text"],.control-group select{
	margin-right:20px;
	height:30px !important;
}
.control-group input[type="text"],.control-group input[type="date"]{
	height:16px !important;
	font-family:"微软雅黑";
}
.control-group.search-bar {
	margin-right: 30px;
}
.modal input[type="text"]{
	height:16px !important;
}
.modal select{
	height:30px !important;
}
.modal-footer {
    height: 31px;
}
.btn-group .btn{
	padding:0px;
	width:88px !important;
	height:26px;
	 line-height: 28px;
	  text-align: center;
	border-radius: 0px !important;
}
.btn-group{
	margin-bottom:20px;
}
@media screen and (min-width: 0px) and (max-width:1560px){
    #myamModal{
        width:1120px !important;
    }
    #myamModal #myModalBody2 .myAmachangebtn{
    margin-right:20px !important;
    }
}
.modal-footer button{
	width:96px !important;
	height:36px;
}
.modal-footer .btn-default{
	color:#7a818b;
}
/* 表格选中后的样式 */
tbody tr:hover td{
	background-color:#e9e9e9 !important;
}
.datetimepicker tbody tr:hover td {
	background-color: rgba(0,0,0,0) !important;
}
.datetimepicker tbody tr:hover td.active {
    background-color: #4b8df8 !important;
}
.datetimepicker tbody tr td.day:hover {
	background: #eeeeee !important;
}
/* 取消按钮选中的样式 */
.modal-footer .btn-default:hover{
	background-color:#cdcdcd !important;
	color:#343941 !important;
}
.modal-footer button:nth-of-type(1):hover{
	background-color:#cdcdcd !important;
	color:#343941 !important;
}
.modal-footer .btn:first-child:hover{
	background-color:#cdcdcd !important;
	color:#343941 !important;
}
.myPreview{
	width:64px !important;
	height:30px;
	border:1px solid #2d94ff;
	color:#2d94ff;
}
.myPreview:hover,.mybbasic:hover{
	background-color:#2d94ff !important;
}
/* 模态框的标题 */
.modal-header h4{
	margin-left:5px;
}
/*璇剧▼鍚嶇О鍙婃悳绱㈡*/
.form-row-seperated .control-group{
    margin-top: 20px;
}
.control-group .mycontrol-label1{
   width: 90px;
    font-size: 18px;
    color: #505050;
    float: left;
}
.control-group .mywrap{
    /* margin-left: -90px; */
    border-radius: 3px;
}
/* 鍓嶇疆璇剧▼鎼滅储鍥炬爣 */
.icon-zoom-in{
	display: inline-block;
	font-size:24px;
	margin-top:20px;
}
.mycaExamine{
    color: #2d94ff;
    cursor: pointer;
}
.mylable{
    float: left;
}
.mylistSee{
    color: #2D94FF;
    cursor: pointer;
}
/*璇炬椂璇︽儏鐨勯瑙�*/
#mybefor{
    background-color: #FFFFFF;
    color: #2d94ff;
    height: 24px;
    width: 60px;
    line-height: 6px;
    font-size: 12px;
    border: 1px solid rgba(45, 148, 255, 0.60);
    border-radius: 2px;
}
#mybefor:hover,#mybefor2:hover{
	background-color:#2d94ff !important;
}
.myp1{
    width: 60%;
}
.myredbtn1{
    margin-right: 20px;
}


/*淇敼璇剧▼鐨勫熀鏈俊鎭�*/
.mycontrols{
    /*display: inline-block;*/
    /*margin-left: 280px;*/
}
thead{
    background-color: #ced0d0;
}
/*搴曢儴鐨勭‘瀹氭寜閽�*/
#mysure{
    display: block;
    margin: 0 auto;
}
/*涓婄Щ*/
.sort1{
    color: #74DED0;
    cursor: pointer;
}
/*涓嬬Щ*/
.sort2{
    color: #F74D3A;
    cursor: pointer;
}
.form-horizontal .controls {
    /* margin-left: 180px; */
}

/*璁剧疆椤甸潰鐨勬彁閱掑ぉ鏁�*/
.mysmall{
    width: 50px;
    height: 10px;!important;
}
.myclass{
    margin-bottom: 8px;
}
.myclasstime{
    margin-top: 35px;
    margin-bottom: 0px;
}
.mytext{
    margin-top: 35px;
    margin-bottom: 10px;
}
.myanmin{
    margin-top: 45px;
    margin-bottom: 10px;

}
.myparaUpdate span{
    display: inline-block;
    height: 34px;
    line-height: 34px;
    text-align: center;
}
.myupspan1{
   /*width: 50px;*/
}
/*鍗曚釜瀛︿範璁″垝璇︽儏椤甸潰*/
.myLcwrap{
   width: 133px;
}
.mychose{
    margin-left: 10px;
}
/* 鐭ヨ瘑鐐归〉闈㈢殑澶氳鏂囨湰杈撳叆妗� */
.myBomb{
	width:80%;
}
.mywrap{
	  display: inline-block;
	/* margin-right:160px; */
}
/* 鏂板缓璇炬椂 */
.myNewh4{
	display: inline-block;
	font-size: 20px;
	width:100px;
}
/* 閫夋嫨璇句欢 */
.default{
	margin: -40px 0 0 315px;
	opacity: 0;
}
.myfile{
	display: inline-block;
    width: 70px;
    height: 25px;
     line-height: 25px;
    text-align: center;
    color: #f65036;
    border: 1px solid #f65036;
    margin:5px 0 0 15px;
}
#mycuModal{
	width:620px;
}
/* 鍔犲叆鐭ヨ瘑浣撶郴 */
.myJion{
	display:inline-block;
	margin-left: 15px;
}
/* 鐭ヨ瘑鐐归〉闈㈢殑鏍囬 */
.myKnowtitle{
	margin-left:0px;
}
/* 淇敼鍓嶇疆璇剧▼椤甸潰p鏍囩*/
.myinput{
	background-color:#F2F2F4;
	height:25px;
	/* margin-left:68px; */
	 float: left;
	/* display: inline-block; */
}
.myPucheckbox{
	margin-left: 20px;
}

/* 鏂板璇曞嵎椤甸潰鐨勯�夋嫨璇句欢 */
.myexamAddfile{
	margin:5px 0 0 -75px;
}
.myepasmall{
	width:70px;
}
.myquestions{
	margin-left:100px;
}
.questions{
	display: inline-block;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

/* 璇曞嵎瀹℃牳椤甸潰鐨勬煡鐪� */
.mySee{
	color:#f77867;
	 cursor: pointer;
}
/* 棰樼洰绠＄悊椤甸潰鐨勫ご閮ㄦ寜閽� */
.myeqmbtn2{
	margin-left:30px;
}
.myeqmbtn3{
	display: inline-block;
    float: right;
    margin-right:20px;
}
.myeqmcheckbox{
	color: #f65036;
}
.myeqmspan1{
	margin-left:40px;
}
.subject{
	margin-top:25px;
	text-indent: 2em;
}
/* 璇曞嵎璇︽儏椤甸潰 */
.myepdtextarea{

	color:#9b9ca1;
}
#mybefor2{
    background-color: #FFFFFF;
    color: #2d94ff;
    height: 30px;
    width: 64px !important;
    line-height: 6px;
    font-size: 12px;
     border: 1px solid rgba(45, 148, 255, 0.60);
    border-radius: 2px;
    padding:0px;
}
.myepdblue{
	margin-left:30px;
}
.myeqacheckbox{
	margin:0 0 20px 20px;
	color:#f65036;
}
/* 鏈叆鑱屼汉鍛樼鐞� */
#mynemModal{
	width:660px;
}
#mynemModal input{
	margin-bottom: 0px;
}
#mynemModal .myname{
	display: inline-block;
	/* margin-left:40px; */
}
/* 鑰冭瘯绠＄悊 */
#myEatab1{
	font-size:14px;
}
#myEatab1 input{
	/* height: 10px; */
}
#myEatab1 select{
	/* height: 26px !important; */
	font-size:12px;
}
#myEatab1 .help-block{
	display: inline-block;
	margin-top:5px;
}
/* 鍙婃牸鍒嗘暟鍜岃�冭瘯娆℃暟 */
#myEatab1 .myScoreContro input,#myEatab1 .myScoreContro2 input{
	width:90px !important;
}
#myEatab1 .myScoreContro label,#myEatab1 .myScoreContro2 label{
	 display: inline-block;
}
#myEatab1 .myScoreContro .mycontrols,#myEatab1 .myScoreContro2 .mycontrols{
	display: inline-block;
}
#myEatab1 .myScoreContro2,#myEatab1 .myScoreContro{
          float: left;
}
#myEatab1 .myScoreContro2{
	margin-left:50px;
}
#myEatab1 .myNotice{
	clear: both;
}
#myEatab1 .myEaLable{
	margin-left:24px;
}
#myEatab1 .myEaLable1{
	margin-left:26px;
}
#myEatab1 .myEamedium{
	width:27% !important;
}
.myEaDisplay{
	 opacity: 0;
	 margin-left:28px;
}
.myEabtn1{
	display: inline-block;
	float:right;
	margin-right:30px;
	/*  background-color: #F5F5F5; */
}
#myEagroup1{
	border-bottom: none;
}
.mybtnp1{
	margin-bottom:25px;
}
.mybtnp2 #basic_opener3{
	/* width:100%; */
	margin-left: 40%;
}
.mybtnp2 button{
	margin-bottom:20px;
    margin-top: 20px;
}
#myEacheck1{
	display: inline-block;
	margin-left:8px !important;
	float:none;
}
.eafault{
	opacity: 0;
	margin:5px 0 0 -75px;
	height:34px !important;
}
.myEapage{
	 overflow-x: hidden;
}
.myEapage #choosePaperName{
	margin-left:94px;
	margin-bottom:20px;
	width:25.5% !important;
}
.myEapage #choosePaperScroe{
	width:25.5% !important;
}
#myDelayed,#mycDelayed{
	margin-top:-40px;
	margin-left:50%;
	display:none;
}
/* 当窗口小于1349时的参考人员信息输入框大小 */
@media screen and (max-width:1366px){
	.myEapage .myjwrap1{
	    width:170px;
	}
}
/* 考试详情 */
#myEdPage p{
	margin-left:20px;
}
#myEdPage h4{
	margin-top:20px;
}
#myEdPage #myedTable1{
	width:98%;
	margin-left:20px;
}
#myEdPage
/* 公告管理页面的模态框 */
#myamaPage .control-label,#myamaPage .control-label,#myepuPage .control-label,#myepdGroup1 .control-label{
	float:left;
}
#myamaPage #myammgroup{
	margin-top:10px;
	margin-bottom:20px;
}
/* #myamaPage #myammgroup #myCheckControls{
	margin-top:-10px;
} */
/* #myamaPage .mybtnp2{
	margin-left:25%;
} */
.ui-pager .ui-pager-wrap{
	
}
#myamModal{
	width:70%;
	left: 50%;
	margin-left: -560px;
	min-width:800px !important;
}
#myamModal.fade.in{
	/* top:1%; */
}
@media (min-width: 1200px){
	.row-fluid {
    width: 100%;
    overflow-y: auto;
} 
}
#myamModal .modal-body{
	overflow-y: visible
/* 	min-width:800px; */
}
#myamModal .m-wrap{
	width:400px;
}
#myamModal .checkbox{
	display: inline;
}
#myamModal #myammgroup,#myamModal #myammgroup2{
	margin-left:0px;
}
.myamdelete{
	color:#FD786C;
}

/* staffCourseDetail椤甸潰 */
.myscdMedia{
	border-bottom: 1px solid #e6e6eb;
}
.myscdMedia .myscdp1{
	width:60%;
}
.myscdmedia2{
	margin-top:20px;
}
.myscdmedia2 .myscdportlet{
	border:1px solid #e6e6eb;
	height:180px;
	margin-bottom:20px;
}
.myscdmedia2 .myscdbtn{
	display: inline-block;
    float:right;
    margin:-40px 30px 0 0;
}
/* 公告管理添加人员的modal */
#myamModal .btn-group{
	/* margin-bottom: 30px; */
}
#myamModal #mysample_1{
	/* width:auto; */
	/* margin:70px 0 0 20px; */
	float:left;
	min-width:114px;
	margin-left:15px;
}
@media (min-width: 1200px){
	#myamModal .row-fluid .span2 {
    width: 8.52991452991453%;
	}
}
#myamModal #mysample_1 #mysample_1 i{
	font-size:18px;
	color:#FC4F3F;
}
#myamModal .mywrap1{
	width:100px;
}
#myamModal .mybluebtn1{
	width:80px;
	margin:-5px 0 0 35px;
}

#myamModal .myyellow1 .portlet-title .caption,#myamModal .myyellow2 .portlet-title .caption{
	color:#666A6F;
	width:100%;
	margin:0 auto;
	height:38px;
	 line-height: 38px;
	  text-align: center;
}
#myamModal .myyellow1 .portlet-title,#myamModal .myyellow2 .portlet-title,#myamModal .myyellow3 .portlet-title{
	 background-color: #CED0D0;
}
#myamModal .myyellow2,#myamModal .myyellow1{
	background-color: #ffffff !important;
	min-width:347px;
	min-height: 450px;
	/* position:absolute; */
}

#myamModal .myyellow1 thead,#myamModal .myyellow2 thead{
	 background-color: #ffffff;
}
#myamModal .myyellow1 #myseach3{
	width:100%;
	text-align: center;
	margin-bottom:20px;
}
#myamModal .btn-group .btn{
	height:38px;
	line-height:38px;
	width:108px !important;
} 
.btn-group .btn:hover,#myDownload:hover,#myImport:hover{
	background-color:#2d94ff !important;
}
#myamModal .myyellow1 #myseach3 button{
	width:90px !important;
	margin:0px;
}

#myamModal .myModalBody3 .controls{
	margin:10px 0 20px 200px;
}
#myamModal .myModalBody3 #mynobt1{
	margin-top:0px;
}
.myModalBody3,.myModalBody4,.myModalBody2{
	display: none;
}
#myamModal .myModalBody3 .btn-group,#myamModal .myModalBody4 .btn-group{
	margin-left:0px;
}
/* 高级筛选 */
#myamModal .myModalBody4 .controls{
	/* width:70%; */
	margin:10px  auto 20px auto;
	text-align: center;
}
#myamModal .myModalBody4 .controls .mybtn{
	width:195px !important;
}
#myamModal .myModalBody4 .controls #myAdvancedBtn1{
	margin-left:10px;
}
#myamModal .myModalBody4 .controls .mybtn:hover{
	background-color:#2d94ff !important;
}
#myamModal .myModalBody4 .mytable{
	width:97%;
	margin:0px auto auto 10px;
}
#myamModal .myModalBody4 .myDeletetd{
	color:#FA786B;
	cursor: pointer;
}
#myamModal #myYellow2,#myamModal #myGroup1{
	float:left;
}
#myamModal .myAmachangebtn{
	margin-top:7%;
}
#myamModal #myModalBody2 .myAmachangebtn{
	margin-left:0px;
	margin-right:10px;
}
#myamModal #myModalBody3 .myAmachangebtn{
	margin-left:0px;
	margin-right:30px;
}
#myamModal .myAmachangebtn #mychangebtn2,#myamModal .myAmachangebtn #mychangebtn4,#myamModal .myAmachangebtn #mychangebtn6{
	margin-top:30%;
}
#myamModal .mychangebtn1,#myamModal .mychangebtn2{
	width:90px !important;
}
#myamModal #myPbyellow1{
	margin-left:0px;
}
#myamModal .control-group{
	margin:0px;
}
#myamModal #myAmacontrols{
	margin-left:150px;
}
/* 鍛樺伐鐧诲綍鍏憡 */
#mySaPage .mySap1{
	background-color: #FEDAD6;
	width:40px;
	height:20px;
	line-height: 20px;
	 text-align: center;
	 border-radius: 15px !important;
	 color:#EF776C;
	 margin:0px;
}
/* 鍛樺伐鐧诲綍璇剧▼鍒楄〃 */
#mySclPage .myStudy{
	color:#60AEFF;
	cursor:pointer;
}
#mySclPage #mySclpicker2{
	margin-left:30px;
}
/* 考试列表 */
#mySelPage .portlet-body{
	width:20%;
	border:1px solid #E5E5E5;
	margin-left:2%;
	float: left;
	 clear: none;
	 margin-bottom:20px;
}
#mySelPage .portlet-body p,#mySelPage .portlet-body h5{
	width:100%;
	 text-align: center;
}
#mySelPage h5{
	font-size:16px !important;
	margin:25px 0 20px 0px;
}
#mySelPage .portlet-body #mySeloperation{
	height:35px;
	line-height:40px;
	background-color:#C6C6C6;
	color:#ffffff;
	margin:0px;
}
#mySelPage .portlet-body #mySeloperation a{
	color:#ffffff;
	cursor:pointer;
}
#mySelPage .portlet-body .subject{
	line-height: 0px;
	
}
#mySelPage .portlet-body #mystate{
	margin:30px auto 30px auto;
	color:#343941;
	font-size:24px;
}
#mySelPage #myPortetBody2 #mySeloperation,#mySelPage #myPortetBody3 #mySeloperation{
	background-color: #2D94FF;
}
#mySelPage #myPortetBody2 #mySeloperation span,#mySelPage #myPortetBody3 #mySeloperation span{
	cursor: pointer;
}
#mySelPage form{
	margin-bottom:30px;
}
/* 鍛樺伐鐧诲綍鑰冭瘯椤甸潰 */
#mySepage #Surplus{
	display: inline-block;
	margin-left:40px;
}
#mySepage .controls,#mySerpage .controls{
	color:#323645;
}
#mySepage #Surplus .mySurplus1{
	font-size:18px;
}
#mySepage .yellow .portlet-title,#mySerpage .yellow .portlet-title{
	background-color: #E1E4E6;
	color:#343941 !important;
}
#mySepage .yellow .portlet-title .mySeSubject,#mySerpage .yellow .portlet-title .mySerSubject{
	display: inline-block;
	background-color: #AFD1F8;
	width:80px;
	height:25px;
	line-height: 25px;
	 text-align: center;
	 border-radius: 15px !important;
	 margin:0px auto;
}
/* 鍛樺伐鐧诲綍鏌ョ湅鎴愮哗椤甸潰 */
#mySerpage .control-group{
	padding-bottom:20px;
	border-bottom: 1px solid #E1E4E6;
}
#mySerpage .yellow .portlet-title .mySerSubject1{
	display: inline-block;
}
#mySerpage .yellow .portlet-title .myResultSpan1{
	color:#3899FD;
}
#mySerpage .yellow .portlet-title .myResultSpan2{
	color:#F2877E;
}
#mySerpage .begintime {
	line-height: 30px;
}
#mySerpage .myScoreSpan{
	font-size:20px;
	line-height: 30px;
}
#mySerpage #Surplus{
	margin-left:20px;
}
#mySndpage .myabout{
	width:100%;
	height:30px;
	 line-height: 30px;
    text-align: center;
    color:#83868B;
    font-size:24px;
}
#mySndpage .mySndspan1,#mySaPage .mySndspan1{
	display:inline-block;
	float:right;
}
#mySndpage .control-group{
	padding-bottom: 10px;
}
#mySndpage .mySndP1{
	margin-left:20px;
}
/* 新建学习计划 */
#myLpaPage .mylistSee1{
	color:#FD8377;
}
#myLpaPage .form-row-seperated .control-group{
	padding-bottom:0px;
	margin-bottom:0px;
}
#myLpaPage #myEatab1 .myEaLable{
	margin-left:0px;
}
#myLpaPage #myEatab1{
	border-bottom:1px solid #E6E6EB;
}
#myLpaPage .myLplMedia1{
	margin-top:20px;
}
#myLpaPage #myGroupingModal .m-wrap{
	width:65%;
}
#myLpaPage #myAddCourseModal,#myLpuPage #myAddCourseModal{
	width:800px;
	left:40%;
}
#myLpaPage #myAddCourseModal h4{
	margin-left:0px;
}
#myLpaPage #myAddCourseModal #searchCourseName,#myLpuPage #myAddCourseModal #searchCourseName{
	width:131px;
}
#myLpaPage #myAddCourseModal .mysearchbtn1,#myLpuPage #myAddCourseModal .mysearchbtn1{
	margin-top:-10px;
}
#myLpaPage .myEabtn1:hover,#myLpuPage .myEabtn1:hover{
	background-color:#2d94ff !important;
}
#myLpuPage #myInformation{
	margin-left:-20px;
}
#myLpaPage .mySendCheck{
	margin-left:20px;
	margin-top:20px;
}
.myPageTitle{
	margin-left:0px;
}
#myLpuPage #mybasic{
	margin-right:50px;
}
#myLpaPage #myAddCourseModal .form-row-seperated .control-group input{
	width:170px;
}
#myLpaPage .mybtnp2,#myLpuPage .mybtnp2,.myEapage .mybtnp2,#myEdPage .mybtnp2,.mybtnp2{
	width:100%;
	text-align: center;
	margin-top:50px;
}
#myLpaPage .mygroup1{
	margin-left:5px;
}
#myLpuPage .mygroup1 .control-group{
	margin-left:-15px;
}
#myLpaPage .mygroup1 label,#myLpDPage .mygroup1 label,#myLpuPage .mygroup1 label{
	float:none;
}
#myLpuPage .myLplMedia1{
	margin-top:20px;
}
/* 学习计划课程详情 */
#mylcdPage .mypageh4{
	margin-left:0px;
}
/* 瀛︿範璁″垝璇︽儏 */
#myLpDPage .myDescribe{
	display:inline-block;
	width:40%;
	vertical-align:top;
}
#myLpDPage .myDescribe1{
	display:inline-block;
	margin-top:-30px;
}
#myLpDPage #myEatab1{
	padding-bottom:40px;
	border-bottom: 1px solid #E1E4E6;
}
#myLpDPage .media-heading{
	margin-top:20px;
}
#myLpDPage .myLpdbtnp1{
	float:right;
	margin:-100px 20px 0 0;
}
#myLpDPage .media-body{
	margin:0px;
}
#myLpDPage .media-body p{
	margin-left:20px;
}
#myLpDPage .mygroup1{
	margin-bottom:20px;
}
/* 鏍囩椤电殑鐘舵�佹晥鏋� */
#myEpatable2,#myEpatable3,#myEpatable4{
	display: none;
}
#myPubtn{
	margin:5% 0 3% 45%;
	/* width:110px; */
}
#myModifyModal .myQbsmall{
	width:220px !important;
}
#myqbchoose{
	height:30px;
	width:220px;
}
#addKl{
	width: 140px;
	  clear: both;
	  margin-top:10px;
	  margin-bottom:20px;
	  margin-left:260px;
	  clear:both;
}
#myModifyModal.fade.in {
    top: 6%;
}
/* 杞欢鍙傛暟閰嶇疆 */
#myPuPage input[type="text"].m-wrap{
	padding:2px !important;
}
#myPuPage .myPrompt{
	height:26px;
	line-height: 26px;
	 text-align: center;
}
#myPuPage .checkbox{
	    display: inline-block;
}
#myPuPage #myUpCheck1{
	margin-left:40px !important;
}
#myPuPage .myPuSpan1{
	margin-left:60px;
}
#myPuPage .myPuSpan2{
	margin-left:20px;
}
.highcharts-legend{
	display:none;
}
.highcharts-container{
	/* margin-left:-200px; */
}
#container{
	margin-left:0px;
/* 	float:left; */
}
#mycontrols .myEpaspan1{
	display:inline-block;
	margin-top:100px;
	float:left;
	margin-top:60px;
}
#myepalPage .mySubject1{
	font-size:14px;
	line-height: 1.5;
}
#myepalPage .myStatistics{
	float:left;
	margin:-55px 0 0 340px;
}
#mycontrols{
	 background-color: #F2F2F4;
	 width:100%;
	 height:130px;
	 margin-top:20px;
}
.jqplot-grid-canvas{
	left:30px !important;
	top:20px !important;
	border:none;
	height:100px;
	display:none;
}
.jqplot-series-canvas,.jqplot-pieRenderer-highlight-canvas{
	left:25px !important;
}
.jqplot-pie-series{
	left:115px !important;
}
.myQuestions1{
	margin-left:30px;
}
/* 鍘婚櫎鍒嗛〉鐨勮竟妗� */
.page-content>.container-fluid {
    border: none;
}
#myEdPage #container{
	/* width: 300px; height: 400px; margin: 0 0 0 10; */
}
#myqbPage .mylistDelete{
	color:#F65036;
}
#myqbPage #myModifyModal{
	width:810px;
}
#myqbPage #myModifyModal .modal-body{
	max-height:570px;
}
#myqbPage #myModifyModal .myqbP1{
	width:90px;
	float:left;
	margin:30px 0 0 -10px;
}
#myqbPage #myModifyModal .mytxt{
	/* float:left; */
	width:550px; 
	margin: 10px 0 10px 73px;
}
#myqbPage #myModifyModal .myqbP1:nth-of-type(2){
	margin-top:60px;
}
#myqbPage #myModifyModal .mygroup1{
	float:right;
	margin:-80px 0 0 660px;
}
#myqbPage #myModifyModal .mytxt1{
	/* margin-bottom:90px; */
}
#myqbPage #myqbGroup1{
	border-bottom:1px solid #e6e6eb;
	height:80px;
	text-align: left;
	 line-height: 80px;
}
#myqbPage #mybtnp1{
margin:20px 0 10px 0;
}
#myqbPage #myModifyModal .myKnowledge{
	  display:inline-block;
}
#myqbPage #mycuModal{
	left:51%;
	border:none;
	box-shadow:-2px 2px 2px 3px #dfe3ea;
}
.Answer .btn{
	width:130px !important;
	padding:4px;
}
#myqbPage #myModifyModal .myqbP2 {
    width: 30px;
    height:30px;
    line-height: 30px;
    text-align: center;
    border-radius: 25px !important;
    float: left;
    margin: 5px 0 0 20px;
    border:1px solid #dddddd;
}
#myqbPage #myModifyModal .myqbP2 .icon-plus{
	font-size:24px;
	color:e6e6eb;
	line-height:30px;
	text-align: center;
}
#myqbPage #myModifyModal .myqblabel1{
	float:left;
}
#myamModal #byGroup{
	position: absolute;
	top:85px;
	left:950px;
}
#myamModal #myTreeBody{
	border-top:1px solid #E5E5E5;
}
/* 璇剧▼璇︽儏鐨勫垪琛� */
#evaluation{
	display:none;
}
#evaluation .control-group,#myPlan1 .control-group,#myPlan2 .control-group{
	margin-top:20px;
}
/* 绗竴涓�夐」鎸夐挳鐨勯鑹� */
#myCdBtn1,#myCabtn1,#myLcdbtn1,#myEpabtn1{
	background-color:#4D90FE;
	color:#ffffff;
}
.icon-star{
	color:#F16855;
	font-size:18px;
}
#myCarow3,#myCarow2,#myCarow4,#myPlan1,#myPlan2{
	display:none;
}
.mynotifyType{
	margin-right:0px;
}
/* 图表的样式 */
#myEdPage #myOrganization #myDistribution{
	/* background-color: aqua; */
}
#myEdPage #myOrganization #myDistribution #mychart1{
	background-color:red;
}
#myEdPage #myOrganization #myOstitle{
	margin-left:50px;
}
#myEdPage #myOrganization #myStatistical{
	border-right:1px solid #EFEFEF;
}
#myEdPage #myOrganization #myStatistical #main{
	margin:0 auto;
}
#myEdPage #myOrganization #myStatistical #myp1{
	float:right;
	margin-right:50px;
	color:#343941;
}
#myEdPage #myOrganization #myStatistical #mySoTable1{
	width:90%;
	margin:0 auto;
}
/* 课程审核页面的模态框 */
#mycaPage #responsive{
	width:700px;
}
#mycaPage #responsive .modal-body{
	max-height:500px;
}
#mycaPage #responsive .modal-body h4{
	margin-bottom:0px;
}
#mycaPage #responsive .modal-body #mymodeselect,#myEpauditingPage #responsive .modal-body #mymodeselect{
	width:80% !important;
}
#mycaPage #responsive .modal-body p{
	margin-right:0px;
}
#mycaPage .default{
	width:100px;
}
/* 搜索按钮的通用样式 */
.mysearchbtn1{
	width:90px !important;
}
#myeplPage .mysearchbtn1{
	margin-top:-10px;
}
#myclPage .mysearchbtn1{
	margin-top:-10px;
}
#mycaPage #searchName{
	margin-left:10px;
}
/* 试卷审核页面的模态框 */
#myEpauditingPage #responsive{
	width:600px;
}
#myEpauditingPage #responsive .btn-lg{
	color:#ffffff;
}
#myEpauditingPage #responsive .btn-lg:hover{
	background-color:#3173e6 !important;
}
#myEpauditingPage #responsive .modal-body{
	max-height:500px;
}
#myEpauditingPage #responsive .modal-body .myRecord span{
	margin-left:10px;
}
.myEapage label{
	float:left;
}
.myEapage #examDuration{
	width:
}
.myEapage #myGroupbtn1:hover{
	background-color:#2d94ff !important;
}
#cdPage .mymedia1{
	margin-left:0px;
}
#cdPage .mychackboox1{
	/* margin-left:66px; */
}
.mycondition{
	margin-left:10px;
}
#myepalPage .mycontrol-label1{
	font-size:14px;
	color:#7a818b;
}
#myepdGroup1{
	margin-left:15px;
}
#mykgPage #myAddModal #addKl{
	margin:0px 0 0 20px;
	padding:0px;
}
#mykgPage #myUpdModal #updparId{
	display:none;
}
/* 侧导航 */
.page-sidebar-menu i{
	color:#6e7383;
}
.page-sidebar-menu .title{
    font-size:14px;
    color:#e6ebf8;
    vertical-align: 3px;
}
ul.page-sidebar-menu li > ul.sub-menu > li > a{
    font-size:14px;
    color:#e6ebf8;
}
.page-sidebar .page-sidebar-menu>li {
    border-left: 3px solid #2b2e3f !important;
}
.page-sidebar .page-sidebar-menu>li:hover {
    border-left: 3px solid #F65036 !important;
}
.page-sidebar .page-sidebar-menu>li.active {
    border-left: 3px solid #F65036 !important;
}
.page-sidebar-menu li:hover i{
	color:#fc4f3f;
}
.page-sidebar-menu li:hover span{
	color:#d64941;
}
.page-sidebar-menu li:hover .sub-menu i{
	color:#6e7383;
}
ul.page-sidebar-menu > li.active > a i{
	color:#fc4f3f;
}
ul.page-sidebar-menu > li.active > a span{
	color:#d64941;
}
#myeppPage #myAdd .control-label{
	float:left;
}
#myeppPage #myAdd .control-group{
	margin-left:0px;
}
.btn-group .active{
	color:#ffffff;
}
.page-sidebar-menu .active{
	background-color:#333747;
}
ul.page-sidebar-menu > li > ul.sub-menu > li.active span {
    color: #d64941 !important;
}
ul.page-sidebar-menu > li > ul.sub-menu > li.active > a,
ul.page-sidebar-menu > li > ul.sub-menu > li > a:hover {
    color: #d64941 !important;
    background: #2b2e3f !important;
}
/* .page-sidebar-menu li:hover{
	background-color:#333747;
} */
/* 导航 */
.navbar .brand{
	margin-left:-25px;
	height:42px;
	margin-top:-5px;
}
.header .brand img {
	margin-left:10px;
	height:30px;
	width:30px;
}
.header .brand a{
	
}
.header .brand .mylogo{
	display: inline-block;
	height:52px;
	line-height:52px;
	text-align:center;
}
.page-sidebar .page-sidebar-menu i{
	font-size:24px;
	color:#6e7383;
	margin-right:22px;
}
.page-sidebar .page-sidebar-menu .sub-menu i{
	font-size:16px;
}
td .checkboxes{
	width:100%;
	min-width:24px;
	min-height:13px;
}
/* 防止挂机的输入框 */
#idleDuration{
	margin-right:0px;
}
/* 知识点选择按钮 */
.mykpcontrol{
	margin-bottom:0px !important;
}
.mykpcontrol .myKpselection{
	width:524px;
	height:30px;
	margin-bottom:0px;
	background-color:#F2F2F4;
	margin-left:70px;
	border-top-left-radius:3px !important;
    border-top-right-radius:3px !important;
}
.mykpcontrol .myKpselection img{
	margin:5px 0 0 10px;
	display:inline-block;
	color:#C2C2C2;
	width:20px;
}
.myKpselector {
	position: absolute;
    margin:5px 0 0 10px;
    display:inline-block;
    color:#C2C2C2;
    width:20px;
    margin-top: 6px;
    margin-left: -16px;
}
.table-bordered thead:first-child tr:first-child th{
	font-weight: normal;
}
@media screen and (max-width:480px){
.mykpcontrol .myKpselection{
   width:214px;
    }
}
td:first-of-type{
	border-left:1px solid #ddd !important;
}
#responsive #Reject:hover{
	background-color:#BB2413 !important;
	color:#ffffff !important;
}
/* 错误提示 */
.errorPrompt{
	/* background-color:blue; */
	width:auto;
	/* position:absolute; */
	/* top:50px;
	left:75px; */
	color:#fc4f3f;
	font-size:12px !important;
	text-align:left !important;
}
.cerrorPrompt{
	width:220px;
	color:#fc4f3f;
	font-size:12px !important;
	margin:-35px 0 0 220px;
	float:left;
}
#numberError{
	top:105px;
}
.icon-remove-sign{
	color:#fc4f3f;
	font-size:12px;
	margin-left:-20px;
	height:34px;
	line-height:34px;
	text-align:center;
	opacity:0;
}
.myicon{
	opacity:1;
	position:relative;
	/* float:right;
	margin-top:-233px;
	margin-right:15px; */
}
#nameIcon{
	display:inline-block;
	line-height:25px;
	vertical-align:middle;
	opacity:0;
}
#lessonError{
	top:88px;
	left:90px;
}
.myerrorinput{
	/* margin-bottom:20px !important;	 */
}
#lessonIcon{
	margin-right:20px;
}
#courseError{
	top:200px;
	left:90px;
}
#lessontError{
	top:400px;
	left:90px;
}
#myExamination #nameIcon{
	margin-left:-40px;
}
#myExamination #nameError{
	top:85px;
	left:115px;
	/* color:#8c8484; */
}
/* 知识点管理页面的验证 */
#mykgPage  .errorPrompt{
	margin-left:95px;
}
#mykgPage #myAddModal #mypremarks{
	top:230px;
}
#mykgPage #myAddModal #myIremarks,#mykgPage #myImodifyRemarks{
	opacity:0;
}
#mykgPage .myicon{
	vertical-align:super;
}
#mykgPage #mypmodifyRemarks{
	top:180px;
	left:105px;
}
/* 新建学习计划的验证 、新增课程*/
#myLpaPage .errorPrompt,#mycaPage .errorPrompt,#mycuPage .errorPrompt{
	margin-left:70px;
}
#myLpaPage #myIplanIntroduction,#myIintroduction,#myIlessonIntroduction,#myIexamNotice,#myItitle,#myIpaperDiscribe{
	opacity:0;
}
#myModifyModal #myptitle{
	margin-top:-20px;
}
#myLpaPage #myIplanName,#myLpuPage #myIplanName,#mycaPage .myicon,#myEpapage .myicon,.myEapage .myicon,#mycuPage #myAddModal .myicon,#mycuPage .tab-content .myicon{
	margin-left:-40px;
}
#mycaPage #myAddModal .errorPrompt,#myEpapage .errorPrompt,#myepuPage .errorPrompt,#mycuPage #myAddModal .errorPrompt{
	margin-bottom:0px;
	margin-left:80px;
}
#mycaPage #mystudy .myicon{
	margin-left:-20px;
}
#myExamination .errorPrompt{
	margin-left:100px !important;
}
#myExamination #mypexamPassScore,#myExamination #mypexmaNum,
.myEapage #myppassScore,.myEapage #mypexmaNum,.myEapage #mypexamDuration{
	margin-left:0px !important;
}
/* 修改学习计划 */
#myLpuPage .errorPrompt{
	margin-left:93px;
}
/* 新建试卷 */
#myEpapage .errorPrompt{
	
}
/* 新建考试 */
.myEapage .errorPrompt{
	margin-bottom:0px;
	margin-left:96px;
}
.myVerification{
	position:absolute;
	top:58px;
	left: 320px;
}
/* 新增公告 */
#myamaPage .errorPrompt{
	margin-bottom:0px;
	margin-left:70px;
}
#myamaPage #myItitle,#page-courseList .myicon{
	opacity:1;
	margin-left:-40px;
}
#myamaPage #myIcontent,#page-courseList #myIday,#myImodifyLessonIntroduction,#mycuPage #myModifyModal #myExamination1 #myImodifyexamNotice{
		opacity:0;
}
/* 参数设置 */
#page-courseList #mypday{
	margin-left:115px;
	margin-top:0px;
}
#page-courseList .errorPrompt{
	margin:12px 0 0 110px;
}
#page-courseList .Fraction .errorPrompt{
	position:absolute;
	/* margin-left:105px; */
	top:120px;
	left:105px;
	margin:0px;
}
#page-courseList .Fraction .myicon{
	position:absolute;
	left:195px;
}
#page-courseList .Fraction #myIsingleScore{
	left:460px;
}
#page-courseList .Fraction #mypsingleScore{
    left:367px;
}
#page-courseList .Fraction #mypmultipleScore{
	left:635px;
}
#page-courseList .Fraction #myImultipleScore{
	left:722px;
}
#page-courseList .row-fluid{
	overflow-y:visible;
}
/* 修改课程 */
#mycuPage #mystudy1 .errorPrompt{
	margin-left:75px;
	margin-bottom:0px;
}
#mycuPage #myAddModal #mystudy .myicon,#mycuPage #myAddModal #mystudy1 .myicon{
	margin-left:-20px;
}
#mycuPage #myModifyModal #myExamination1 .errorPrompt{
	margin-left:100px;
}
#mycuPage #myModifyModal #myExamination1 #mypmodifyexamPassScore,#mycuPage #myModifyModal #myExamination1 #mypmodifyexmaNum{
	margin-bottom:0px;
	margin-left:0px;
}
.detailsContent{
	cursor:pointer;
}
.view-detail:visited{
	color:#2d94ff;
	}
.detailsContent:hover{
	color:#2d94ff;
	}
	#myScdPage{
	min-height:1400px;
	max-height:auto;
  }
  #myScdPage .row-fluid,#myElPage .row-fluid,#myeplPage .row-fluid,#myAcmmPage .row-fluid,#mySaPage .row-fluid,
  #mySclPage .row-fluid,#myclPage .row-fluid,#mycaPage #myAddPreCourse .row-fluid,#myLplPage .row-fluid,#mylcdPage .row-fluid,
  #myEdPage .row-fluid,#mycaPage .row-fluid,#myLldPage .row-fluid{
     overflow-y:visible;
  }
  #myElPage .row-fluid,#myeplPage .row-fluid,#myAcmmPage .row-fluid,#mySaPage .row-fluid,#mySclPage .row-fluid,
  #myclPage .row-fluid,#mycaPage #myAddPreCourse .row-fluid,#myLplPage .row-fluid,#mylcdPage .row-fluid,
  #myEdPage .row-fluid,#mycaPage .row-fluid,#myLldPage .row-fluid{
  max-height:2000px;
  }
.myToolong{
	display: inline-block;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	/* width: 40em; */
	width:300px;
	vertical-align:middle;
}
#mySaPage .myabout{
	width:100%;
	height:65px;
	line-height:65px;
	text-align:center;
	margin:0px;
	border-bottom:1px solid #e6e6eb;
}
#mySaPage .page-title{
	margin-bottom:0px;
}
#mySaPage .mySndspan1{
	margin-top:-30px;
	margin-right:10px;
}
#mySaPage .mySndP1{
	line-height:1.5;
}
/* 输入框 */
.m-wrap{
	border-radius:2px !important;
	border:1px solid #c9c9c9 !important;
	color:#343941 !important;
}
.m-wrap:focus{
	border-color:#2d94ff !important;
	color:#7a818b !important;
	}
	select.m-wrap{
	  font-family:"微软雅黑";
	}
#mySaPage #mysacSearch{
	width:100%;
	height:60px;
	margin-top:30px;
	border-bottom:1px solid #e6e6eb;
}
/* 所有文本框前面的内容 */
.myAllCondition{
	height:30px;
	line-height:30px;
	text-align:center;
	display: inline-block;
	vertical-align:top;
	margin-top:0px;
}
.btn-a{
	line-height: 30px;
}
#myEpapage .control-label{
	padding-top:0px;
}
#choicePeople{
	color:#fc4f3f;
	margin-top:10px;
	margin-left:70px;
}
#page-content .modal input[type="text"]{
	height:20px !important;
}
/* 错误提示模态框确定按钮 */
#myCommonAlert .myalertbtn:hover{
	background-color:#3173e6 !important;
	color:#ffffff !important;
}
/* 添加人员窗口缩小的查询器 */
@media screen and (min-width:1561px) and (max-width:1710px){
   #myamModal{
        width:78%;
    }
}


.error{
	border-color: #fc4f3f !important;
}
.help-inline.error {
	color: #fc4f3f;
}
.table thead th {
	line-height: 30px;
    vertical-align: middle;
}