<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>课程列表</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/bootstrap-modal.css">
    <!--编辑器-->

    <link rel="stylesheet" href="../css/common/editor.css"/>

    <!--当前页-->
    <link rel="stylesheet" href="../css/common/courseList.css"/>

    <!--[if IE]>
    <script src="http://libs.useso.com/js/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container-fluid" id="page-courseList">
    <h4>课程管理</h4>

    <div class="" id="content-courseList"> <span>名称：</span>
        <input type="text" class="" name=""/>

        <span>部门：</span>
        <input type="text" class="" name=""/>
        <span>状态：</span>
        <select name="" id="">
            <option value="通过">通过</option>
            <option value="审核中">审核中</option>
            <option value="待审核">待审核</option>
            <option value="未通过">未通过</option>
        </select>
        <button>搜索</button>
    </div>
    <div class="" id="contentTwo">
        <button>删除</button>

        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myAddQeModal">
            新增
        </button>

        <!-- Modal -->
        <div class="modal fade" id="myAddQeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">新建课时</h4>
                        <p class="modal-p1">
                            类型 :
                            <select name="" id="courseList-type">
                            <option>学习</option>
                            </select>
                            </p>
                    </div>
                    <div class="modal-body">
                        <div class="modalbody" id="QuesModal">
                        <h5 class="modal-title2" id="myModalLabel2">课件信息</h5>
                        <p>
                        课时名称:
                        <input type="text" name="" id="difficulty">
                        <input id="modalCheck" type="checkbox"/>
                        <span>加入知识体系</span>
                        </p>
                        <p id="knowledgepointp">

                        知识点 :
                        <input type="text" id="knowledgepoint"/>
                        &nbsp; <input type="file" name="picpath" id="modal-input" value="选择课件"/>
                        <input type="button" id="Upload-btn" value="选择课件"/>
                        </p>
                        <p id="install">
                        <input type="checkbox"/> 禁止拖动播放进度<br>
                        <input type="checkbox"/> 防止挂机(随机验证码)
                        </p>
                        <p>
                        课程描述：
                        <textarea rows="7" cols="63"></textarea>
                        </p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">保存</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <!-- ----------------查询结果表格----------------------------- -->
    <div class="container-fluid">

        <table class="table table-striped" id="courseList-table">
            <!--<caption>条纹表格布局</caption>-->
            <thead class="courseList-thead">
            <tr class="myDtr1">
                <th>课程编号</th>
                <th>名称</th>
                <th>类型</th>
                <th>创建时间</th>
                <th>所属部门</th>
                <th>状态</th>
                <th>课程详情</th>
                <th>管理</th>
            </tr>
            </thead>
            <tbody id="questionBank-tbody">
            <tr>
                <td><span><input type="checkbox"/></span>81323</td>
                <td>飞行员素质第一章</span></td>
                <td>线上课程</td>
                <td>2016-6-30</td>
                <td>地勤部</td>
                <td>审核中</td>
                <td data-toggle="modal" data-target="#myclModal">查看</td>
                <td><span>修改</span><span>删除</span></td>
            </tr>
            <tr>
                <td><span><input type="checkbox"/></span>81323</td>
                <td>飞行员素质第二章</td>
                <td>线上课程</td>
                <td>2016-6-30</td>
                <td>地勤部</td>
                <td>审核中</td>
                <td data-toggle="modal" data-target="#myclModal">查看</td>
                <td><span>修改</span><span>删除</span></td>
            </tr>
            <tr>
                <td><span><input type="checkbox"/></span>81323</td>
                <td>飞行员素质第三章</td>
                <td>线上课程</td>
                <td>2016-6-30</td>
                <td>地勤部</td>
                <td>审核中</td>
                <td data-toggle="modal" data-target="#myclModal">查看</td>
                <td><span>修改</span><span>删除</span></td>
            </tr>
            <tr>
                <td><span><input type="checkbox"/></span>81323</td>
                <td>飞行员素质第一章</td>
                <td>线上课程</td>
                <td>2016-6-30</td>
                <td>地勤部</td>
                <td>审核中</td>
                <td data-toggle="modal" data-target="#myclModal">查看</td>
                <td><span>修改</span><span>删除</span></td>
            </tr>
            </tbody>
        </table>
        <!-- 点击查看触发的Modal -->
        <div class="modal fade" id="myclModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!--摸态框头部信息-->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel3">审核</h4>
                    </div>
                    <div class="modal-body">
                        <span>课程编号</span>
                        <input type="text" class="form-control mycontrol1 courseNumber" name="id"/>
                        <span class="myspan1" name="id">课程名称</span>
                        <input type="text" class="form-control mycontrol2 courseNumber" name="name"/>
                        <span>课程类型</span>
                        <input type="text" class="form-control mycontrol1 courseNumber" name="type"/>
                        <span class="myspan1">创建时间</span>
                        <input type="text" class="form-control mycontrol2 courseNumber" name="time"/>
                        <span class="myspan1">所属部门</span>
                        <input type="text" class="form-control mycontrol2 courseNumber" name="department"/>
                        <span class="myspan1">状态</span>
                        <input type="text" class="form-control mycontrol2 courseNumber" name="state"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary">确定</button>
                    </div>
                </div>
            </div>
        </div>

        <!--////////////////分页//////////////-->
        <div class="container-fluid">
            <div class="ui-pager">
                <div class="ui-pager-wrap">
                    <div class="ui-page-num">
                        <a class="prev disable">&lt;</a> <a href="#" class="next">&gt;</a>
                        共<em class="page-count">6</em>页，到第 <input
                            class="target-page-text" type="text">页 <a
                            class="target-page-btn">确定</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Button trigger modal -->


    <!-- Modal -->

</div>

<script src="../js/jquery-2.0.3.js" type="text/javascript"></script>
<script src="../js/bootstrap.min.js" type="text/javascript"></script>

<!--分页-->
<script src="../js/questionBank/twilight.js" type="text/javascript"></script>
<script src="../js/common/ui.ajaxpager.js" type="text/javascript"></script>
<!--<script scr="../js/course/courseList.js" type="text/javascript"></script>-->
<script src="../js/course/courseList.js" type="text/javascript"></script>
<!--<script type="text/javascript">-->
        <!--var courseNumber= document.getElementsByClassName("courseNumber");-->
        <!--var td = document.getElementsByTagName("td");-->
        <!--for(var i = 0;i < courseNumber.length; i++){-->
            <!--courseNumber[i].value = td[i].innerText;-->
<!--//                remove(courseNumber,value);-->
        <!--}-->

<!--</script>-->
</body>
</html>