body{
    color: #A2A5AA;
}
h4{
    font-size: 14px;
    color: #363942;
}
h3{
    font-size: 18px;
    color: #363942;
}
/*所有的表单框*/
#content-courseList .form-control{
    display: inline;
    border-radius: 3px;
    height: 32px;
    color:  #A2A5AA;
}
#content-courseList .mytextarea{
    height: auto;
    width: 400px;
}
/*选择课件*/
#content-courseList{
    position: relative;
    /*margin-left: 11px;*/
}
#content-courseList #modal-input{
    width: 130px;
    color: #F87768;
    outline: none;
    height: 28px;
    resize: none;
    display: inline-block;
    /*float: left;*/
    margin: 10px 0 0 -5px;
    position: relative;
    z-index: 20;
    cursor: pointer;
    opacity: 0;
}
#content-courseList #Upload-btn{
    display: inline-block;
    position: absolute;
    top: 80px;
    left: 320px;
    z-index: 10;
    width: 80px;
    border:1px solid #F87768 ;
    background-color: white;
    color: #F87768;
    cursor: pointer;
}
#content-courseList span{
    text-align: right;
    display: inline-block;
}